<div class="columns is-multiline">
  <div class="column is-3 animated slideInUp" *ngFor="let product of products">
    <div class="card">
      <div class="card-image">
        <figure class="image" style="height: 100%; width: 100%;">
          <img src="http://lorempixel.com/1200/960/" alt="{{ product.title }}">
        </figure>
      </div>
      <div class="content">
        {{product.title}}
        <br>
        <h1 class="has-text-centered"> R$ {{product.price | number: '1.2-2'}}</h1>
        <button class="button is-success is-fullwidth" (click)="addToCart(product)">
          <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp; ADICIONAR
        </button>
      </div>
    </div>
  </div>
</div>
