<section class="hero is-primary is-small">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item pacifico medium-text">
            modern web store
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item is-active">
            Home
          </a>
          <a class="nav-item">
            Carrinho
          </a>
          <a class="nav-item">
            Meu Perfil
          </a>
          <span class="nav-item">
            <a class="button is-primary is-inverted">
              <span class="icon">
                <i class="fa fa-power-off"></i>
              </span>
              <span>Sair</span>
            </a>
          </span>
        </div>
      </div>
    </header>  
  </div>
</section>

<body>
  <section class="section">
    <div class="container">
      <div class="heading animated fadeIn">
        <h1 class="title">Produtos</h1>
        <h2 class="subtitle">
          Confira nossos super produtos
        </h2>
      </div>
      <div class="columns is-multiline">
        <div class="column is-3 animated slideInUp">
          <div class="card">
            <div class="card-image">
              <figure class="image" style="height: 100%; width: 100%;">
                <img src="http://lorempixel.com/1200/960/" alt="Image">
              </figure>
            </div>
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <br>
              h1.has-text-centered - Tab
              <h1 class="has-text-centered"> R$ 299.90</h1>
              <a class="button is-success is-fullwidth">
                <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp; ADICIONAR
              </a>
            </div>
          </div>
        </div>
        <div class="column is-3 animated slideInUp">
          <div class="card">
            <div class="card-image">
              <figure class="image" style="height: 100%; width: 100%;">
                <img src="http://lorempixel.com/1200/960/" alt="Image">
              </figure>
            </div>
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <br>
              h1.has-text-centered - Tab
              <h1 class="has-text-centered"> R$ 299.90</h1>
              <a class="button is-success is-fullwidth">
                <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp; ADICIONAR
              </a>
            </div>
          </div>
        </div>
        <div class="column is-3 animated slideInUp">
          <div class="card">
            <div class="card-image">
              <figure class="image" style="height: 100%; width: 100%;">
                <img src="http://lorempixel.com/1200/960/" alt="Image">
              </figure>
            </div>
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <br>
              h1.has-text-centered - Tab
              <h1 class="has-text-centered"> R$ 299.90</h1>
              <a class="button is-success is-fullwidth">
                <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp; ADICIONAR
              </a>
            </div>
          </div>
        </div>
        <div class="column is-3 animated slideInUp">
          <div class="card">
            <div class="card-image">
              <figure class="image" style="height: 100%; width: 100%;">
                <img src="http://lorempixel.com/1200/960/" alt="Image">
              </figure>
            </div>
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <br>
              h1.has-text-centered - Tab
              <h1 class="has-text-centered"> R$ 299.90</h1>
              <a class="button is-success is-fullwidth">
                <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp; ADICIONAR
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Modern Web Store</strong> by <a href="http://www.insidesistemas.com.br"> Inside Sistemas</a>
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
