<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico larger-text">
        modern web store
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <form [formGroup]="form">
            <p class="control" id="emailControl">
              <input class="input is-large" (blur)="checkEmail()" [ngClass]="{'is-danger' : (!form.controls.email.valid && !form.controls.email.pristine)}" type="email" placeholder="E-mail" formControlName="email">
              <span class="tag is-danger" *ngIf="!form.controls.email.valid && !form.controls.email.pristine">E-mail inválido</span>
            </p>
            <p class="control">
              <input class="input is-large" [ngClass]="{'is-danger' : (!form.controls.password.valid && !form.controls.password.pristine)}" type="password" placeholder="Senha" formControlName="password">
              <span class="tag is-danger" *ngIf="!form.controls.password.valid  && !form.controls.password.pristine">Senha inválida</span>
            </p>
            <p>
              <button [disabled]="!form.valid" (click)="submit()" class="button is-primary is-inverted is-outlined is-large is-fullwidth">ENTRAR</button>
              <br>
              <a routerLink="/signup" class="button is-link is-fullwidth">AINDA NÂO SOU CADASTRADO</a>
            </p>
            <p>
              <button (click)="showModal()" class="button is-link is-fullwidth">TERMOS DE USO</button>
            </p>            
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal animated fadeIn" id="modalId">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Termos de Uso</p>
      <button class="delete" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      Conteúdo do Modal
    </section>
    <footer class="modal-card-foot">
      <button class="button"  (click)="closeModal()">OK</button>
    </footer>
  </div>
</div>